body {
  padding: 50px;
}

.list-group > .list-group-item {
  align-items: center;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

p {
  cursor: pointer;
  margin-bottom: 0;
}

button {
  margin-top: 0;
}

.complete {
  text-decoration: line-through;
}
